body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-weight: 600;
  font-size: 36px !important;
  background-image: linear-gradient(to right, #4A178D , #FF8FB5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-success{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.btn-primary{
  background-image: linear-gradient(to right, #4A178D , #561ba3);
  border: none;
  &:hover{
    background-image: linear-gradient(to right, #350f66 , #411081);
  }
}

.logo{
  width: 40px;
  height: 40px;
}

.btn-primary{
  padding: 8px 30px;
}